@model ParcelWarehouseManagementSupport.Models.Delivery

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Delivery</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DeliveryId" />
            <div class="form-group">
                <label asp-for="DeliveryNumber" class="control-label"></label>
                <input asp-for="DeliveryNumber" class="form-control" />
                <span asp-validation-for="DeliveryNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParcelsNUMBER" class="control-label"></label>
                <input asp-for="ParcelsNUMBER" class="form-control" />
                <span asp-validation-for="ParcelsNUMBER" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourierId" class="control-label"></label>
                <input asp-for="CourierId" class="form-control" />
                <span asp-validation-for="CourierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenderId" class="control-label"></label>
                <input asp-for="SenderId" class="form-control" />
                <span asp-validation-for="SenderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipientId" class="control-label"></label>
                <input asp-for="RecipientId" class="form-control" />
                <span asp-validation-for="RecipientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalWeight" class="control-label"></label>
                <input asp-for="TotalWeight" class="form-control" />
                <span asp-validation-for="TotalWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestinationId" class="control-label"></label>
                <input asp-for="DestinationId" class="form-control" />
                <span asp-validation-for="DestinationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fee" class="control-label"></label>
                <input asp-for="Fee" class="form-control" />
                <span asp-validation-for="Fee" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Paid" /> @Html.DisplayNameFor(model => model.Paid)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
